.nav-link
{
  border-radius: 25px;
}

.nav-link:hover {
  
  background-color: orange;
} 
#NavItem {
  overflow: hidden;
  border-radius: 25px;
}

@media (max-width: 1050px) {
  #NavItem {
    border-radius: 25px;
    width: 95vw;
  }
}
